<section id="slider" class="hero p-0 odd featured all">
  <div class="swiper-container no-slider animation slider-h-100">
    <div class="swiper-wrapper">
      <!-- Item 1 -->
      <div class="swiper-slide slide-center">
        <!-- I changed the file from a jpg to a png with a transparency map to soften the solid edges. The origional jpg is still there if you prefer that one -->
        <img
          src="/assets/images/headshot.png"
          class="hero-image"
          alt="Hero Image"
        />
        <div class="slide-content row" data-mask-768="50">
          <div class="col-12 d-flex inner">
            <div class="left align-self-center text-center text-md-left">
              <h1 class="title effect-static-text">
                Versatile USAF Leader with IT Expertise.
              </h1>
              <p class="description">
                Bringing versatile leadership skills honed in the USAF, coupled
                with a wealth of IT expertise, to drive success in any endeavor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
