<section id="portfolio" class="section-2 odd offers secondary featured all">
  <div class="container">
    <div class="row text-center intro">
      <div class="col-12">
        <h2>Our Portfolio</h2>
        <p class="text-max-800">
          We have already built amazing things for our customers.
        </p>
      </div>
    </div>
    <div class="row justify-content-center text-center items">
      <div class="col-12 col-md-6 col-lg-4 item">
        <div class="card featured">
          <h4>Visual Art</h4>
          <p>An impressive creation for a cosmetics company.</p>
          <div class="gallery">
            <a href="assets/images/work-1.jpg">
              <img src="assets/images/work-1.jpg" alt="Visual Art" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 item">
        <div class="card">
          <h4>Abstract Design</h4>
          <p>We seek to obtain something innovative from art.</p>
          <div class="gallery">
            <a href="assets/images/work-2.jpg">
              <img src="assets/images/work-2.jpg" alt="Abstract Design" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 item">
        <div class="card featured">
          <h4>Creative Painting</h4>
          <p>We combine the use of balanced colors with painting.</p>
          <div class="gallery">
            <a href="assets/images/work-3.jpg">
              <img src="assets/images/work-3.jpg" alt="Creative Painting" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
