<section id="get" class="section-3 hero odd p-0 featured all">
  <div class="swiper-container no-slider animation slider-h-75">
    <div class="swiper-wrapper">
      <!-- Item 1 -->
      <div class="swiper-slide slide-center">
        <video
          class="full-image"
          data-mask="50"
          playsinline
          autoplay
          muted
          loop
        >
          <!-- <source src="assets/videos/colors.mp4" type="video/mp4" /> -->
        </video>

        <div class="slide-content row">
          <div class="col-12 d-flex inner">
            <div class="center align-self-center text-center">
              <h2 class="title effect-static-text">ARE YOU READY?</h2>
              <p class="description ml-auto mr-auto">
                We are driven by creativity. We create innovative things to help
                you achieve better results and consolidate yourself in the
                market.
              </p>
              <div class="nav-item">
                <a
                  href="#contact"
                  class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button smooth-anchor"
                  ><i class="icon-speech"></i>SEND A MESSAGE</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
