$header-bg-color: #040402;
$nav-item-color: #f5f5f5;
$top-nav-item-color: #f5f5f5;
$hero-bg-color: #040402;

$section-1-bg-color: #040402;
$section-2-bg-color: #040402;
$section-3-bg-color: #040402;
$section-4-bg-color: #040402;
$section-5-bg-color: #040402;
$section-6-bg-color: #040402;
$section-7-bg-color: #040402;

$footer-bg-color: #040402;