.social {
    flex-direction: row;
    justify-content:start;
    align-items: start;
}

.dark-button {
    color: white;
}

.title {
    text-align: start;
}

.description {
    text-align: start;
}

.dark-button {
    background-color: black;
}

.footer-widget {
    justify-content: center;
}