<!-- ==============================================
        Favicons
        =============================================== -->
<!-- <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png"> -->

<!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
<!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slider.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/vendor/icons.min.css">
    <link rel="stylesheet" href="assets/css/vendor/animation.min.css">
    <link rel="stylesheet" href="assets/css/vendor/gallery.min.css">
    <link rel="stylesheet" href="assets/css/vendor/cookie-notice.min.css"> -->

<body class="home theme-mode-dark">
  <!-- Hero -->
  <app-hero></app-hero>
  <!-- Features -->
  <app-features></app-features>

  <!-- Portfolio -->
  <app-portfolio></app-portfolio>

  <!-- Send Message -->
  <app-send-message></app-send-message>

  <!-- Footer -->
  <app-footer></app-footer>
</body>
